:root {
	--main-color: #fff;
	--sec-color: #333;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62, 5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.7;
	background: #777;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--sec-color);
}

h1 {
	font-size: 5rem;
}

img {
	width: 100%;
}

.container {
	padding: 0 5rem;
}

.header {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

.header-navbar {
	display: flex;
	flex-direction: column;
	height: 25vh;
	align-items: space-between;
}

.header-content {
	display: flex;
	flex-direction: column;
	height: 75vh;
	align-items: center;
	justify-content: center;
}
