
# Dependencies
node_modules

# VS Code files
.vscode 

# Secrets
.env

# Package manager 

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions